@import "../../utils/style/variables";

.button {
  background-color: $scale10;
  font-weight: bold;
  box-shadow: 1px 1px 2px $box-shadow;
  min-width: 100px;
  min-height: 48px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 0;
  pointer-events: all;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  
  &--disabled {
    background-color: transparent;
    border: 1px solid $scale13;
    color: $scale13;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
