// Colors
//-----------------------------
$background-color: #fafafa;
$primary-color: #4849a0;
$secondary-color: #fbfbfc;
$accent-color: #ff7f5d;

// Scale Palette
//-----------------------------
$scale13: rgba(0, 0, 0, 0.16);
$scale12: #3C4671;
$scale10: #36a459;

$box-shadow: #00000033;

/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

/*** Navbar ***/
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;